html {
	margin: 100;
	padding: 100;
	}

.hide {
    display: none;
    }
        
.myDIV:hover + .hide {
    display: block;
    color: red;
    }
      

body {
    background-color: #eca3e9;
    font-family: cursive;
	margin: 1000; 
	padding: 100;
}

h1 {
    font-size: 100px;
}

#main {
    border-style: solid;
    border-color: pink;
    border-width: 2px;
}

.pink {
    color: darkred
}

@media (min-width: 600px) {
    #main {
        width: 70%
    }

    #container {
        display: flex;
    }

    #sidebar {
        width: 30%
    }
}